*
{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: yellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container
{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5rem 7rem;
  padding: 2rem;
  gap: 0.5rem;
}

.main-reset-button
{
  width: 100%;
  height: 2rem;
  border: none;
  background-color: rgb(233, 122, 140);
  color: white;
}
.main-reset-button:hover
{
  cursor: pointer;
  background-color: rgba(233, 122, 140, 0.7);
}